/* Base */

html {
	font-size: 18px;
	font-family: helvetica;
}

img {
	height: 9rem;
}

/* Logo Section */

.logo {
	background-color: black;
	width: 100%;
	display: flex;
	justify-content: center;
}

.logo .container {
	display: flex;
	width: 960px;
	padding-top: 0.66rem;
	padding-bottom: 0.66rem;
	align-items: center;
}

.logo img {
	height: 1.5rem;
	padding-left: 0.5rem;
	padding-right: 1rem;
}

.logo h2 {
	color: white;
	font-weight: bold;
	padding-top: 0.66rem;
	padding-bottom: 0.66rem;
}

/* Banner Section */

.banner {
	height: 25rem;
	width: 100%;
	background-image: url(../img/moto.jpeg);
	background-size: cover;
	display: flex;
	align-items: center
}

.banner .container {
	width: 20rem;
	background-color: black;
	color: white;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 3rem;
	padding-right: 3rem;
	margin-top: 9rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 150px;
	margin-bottom: 100px;
	}


.banner h3 {
	padding-top: 2rem;
	font-size: 1rem;
	font-weight: bold;
}

.banner h1 {
	font-size: 2rem;
	font-weight: bold;
	padding-top: 0.25rem;
}

/* Menu Section */

.menu {
	background-color: #B30026;
	display: flex;
	justify-content: center;
}

.menu .container {
	display: flex;
	width: 960px;
	color: white;
	font-weight: bold;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

span {
	margin-right: 102px;
}

/* Menu Section */

.product {
	width: 100%;
	display: flex;
	justify-content: center;
}

.product .container {
	width: 960px;
	display: flex;
	justify-content: space-between;
}

.box {
	border: 4px solid black;
	color: white;
	margin-top: 3rem;
	margin-bottom: 3rem;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box p {
	background-color: black;
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	width: 100%
}

.box img {
	height: 9rem;
	width: 9rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Contact Section */

.contact {
	display: flex;
	justify-content: center;
	margin-bottom: 4rem;
}

.contact .container {
	width: 960px;
	display: flex;
	justify-content: space-between
}

.location {
	width: 35%;
	text-align: center;
}

.hours {
	width: 35%;
	text-align: center;
}

.label {
	width: 100%;
	color: white;
	font-weight: bold;
	background-color: black;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* Footer Section */

.footer {
	height: 5rem;
	background-color: black;
	display: flex;
	justify-content: center;
}

.footer .container {
	width: 960px;
	display: flex;
	align-items: center
}

.footer p {
	color: white;
}


